<% provide(:page_title, 'Home') %>
<% provide(:home_active, 'active') %>
    <%= render 'layouts/business_header' %>
<div class="section-1 container" id="how-it-works">
  <div class="row justify-content-center section-title">
    <h1>HOW IT WORKS</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <img src="/assets/iphone_scan.png" width="200" height="400"/>
      <div class="exp-lang">
        <h2 class="exp-lang-title"> SCAN </h2>
        <h5> Scan what you want as you shop. </h5>
      </div>
    </div>
    <div class="col-4">
      <img src="/assets/iphone_pay.png" width="200" height="400"/>
      <div class="exp-lang" style="width:260px;">
        <h2 class="exp-lang-title"> PAY </h2>
        <h5> Finish payment with one click on the phone. </h5>
      </div>
    </div>
    <div class="col-4">
      <img src="/assets/iphone_go.png" width="200" height="400"/>
      <div class="exp-lang" style="width:280px;">
        <h2 class="exp-lang-title"> GO! </h2>
        <h5> A UCheck store staff will confirm your receipt at the exit.</h5>
      </div>
    </div>
  </div>
</div>

<div class="section-2" id="benefits">
  <div class="container">
    <div class="row justify-content-center section-title" id="sc-2-title">
      <h1>BENEFITS</h1>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="sc-2-icon"><i class="fa fa-tag"></i></div>
        <div class="exp-lang">
          <h2 class="exp-lang-title" style="color:white;"> REALTIME <br/> UPSALE </h2>
          <h5> Promote personalized recommendations to customers as they shop.</h5>
        </div>
      </div>
      <div class="col-4">
        <div class="sc-2-icon"><i class="fa fa-bullseye"></i></div>
        <div class="exp-lang">
          <h2 class="exp-lang-title" style="color:white;"> TARGETED PROMOTION </h2>
          <h5> Bring to your store the right customers at the right time.</h5>
        </div>
      </div>
      <div class="col-4">
        <div class="sc-2-icon"><i class="fa fa-clock-o"></i></div>
        <div class="exp-lang">
          <h2 class="exp-lang-title" style="color:white;"> HIGHER <br/>EFFICIENCY </h2>
          <h5> Less time, lower labor cost, for more transactions.</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-section container">
  <div class="section-title">
    <h1>SIGN UP FOR DEMO</h1>
  </div>
  <div class="form-group row">
    <div class="col-6">
      <input class="form-control" type="text" placeholder="Your Full Name" id="example-text-input">
    </div>
    <div class="col-6">
      <input class="form-control" type="text" placeholder="Your Business Name" id="example-text-input">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-12">
      <input class="form-control" type="text" placeholder="Your Phone Number" id="example-text-input">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-12">
      <input class="form-control" type="text" placeholder="Your Subject" id="example-text-input">
    </div>
  </div>
  <div class="form-group">
      <textarea class="form-control" id="exampleTextarea" placeholder="What do you want to tell us?" rows="3"></textarea>
    </div>

  <div class="row" style="text-align:center;">
    <div class="col-12"style="text-align:center;">
      <button type="button" class="btn btn-primary btn-lg">Send</button>
    </div>
  </div>
</div>

<div class="footer" >
  <div class="container">
    <div class="row">
      <div class="col-3 offset-1">
        <div class="row">
          <div class="col-2" style="text-align:left; padding-right:0px;">
            <i class="fa fa-envelope"></i>
          </div>
          <div class="col-10" style="text-align:left; padding-left:0px;">
            info@u-check.us
          </div>
        </div>
        <div class="row">
          <div class="col-2" style="text-align:left; padding-right:0px;">
            <i class="fa fa-phone"></i>
          </div>
          <div class="col-10" style="text-align:left; padding-left:0px;">
            (267)994-1128
          </div>
        </div>
        <div class="row">
          <div class="col-2" style="text-align:left; padding-right:0px;">
            <i class="fa fa-map-marker"></i>
          </div>
          <div class="col-10" style="text-align:left; padding-left:0px;">
            Vance Hall, 3733 Spruce Street, <br/> Philadelphia, PA19104
          </div>
        </div>
        <div class="row" style="margin-top:10px;">
          <div class="col-2" style="text-align:left; padding-right:0px;">
            <i class="fa fa-copyright"></i>
          </div>
          <div class="col-10" style="text-align:left; padding-left:0px;">
            2017 UCheck All Right Reserved
          </div>
        </div>
      </div>
      <div class="col-4">
        <h3>KEEP IN TOUCH</h3>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0 footer-input">
          <input type="text" class="form-control" placeholder="Username">
          <div class="input-group-addon">SUBSCRIBE</div>
        </div>
      </div>
      <div class="col-4">
        <h3>FOLLOW US</h3>
        <h3>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </h3>
      </div>
    </div>
  </div>
</div>
