<% provide(:page_title, 'Home') %>
<% provide(:home_active, 'active') %>
    <%= render 'layouts/business_header' %>
    <div class="section-1 container" id="how-it-works">
      <div class="row justify-content-center section-title">
        <h1>HOW IT WORKS</h1>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:center;">
          <img src="/assets/iphone_scan.png" width="200" height="400"/>
          <div class="exp-lang">
            <h2 class="exp-lang-title"> SCAN </h2>
            <h5> Scan what you want as you shop. </h5>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"style="text-align:center;">
          <img src="/assets/iphone_pay.png" width="200" height="400"/>
          <div class="exp-lang" style="width:260px;">
            <h2 class="exp-lang-title"> PAY </h2>
            <h5> Finish payment with one click on the phone. </h5>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"style="text-align:center;">
          <img src="/assets/iphone_go.png" width="200" height="400"/>
          <div class="exp-lang" style="width:280px;">
            <h2 class="exp-lang-title"> GO! </h2>
            <h5> A UCheck store staff will confirm your receipt at the exit.</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="section-2" id="benefits">
      <div class="container">
        <div class="row justify-content-center section-title" id="sc-2-title">
          <h1>BENEFITS</h1>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"style="text-align:center;">
            <div class="sc-2-icon"><i class="fa fa-line-chart"></i></div>
            <div class="exp-lang">
              <h2 class="exp-lang-title" style="color:white;"> HIGHER <br/> EFFICIENCY </h2>
              <h5> Our models have been proven to increase sales by 20% and double efficiency.</h5>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"style="text-align:center;">
            <div class="sc-2-icon"><i class="fa fa-tags"></i></div>
            <div class="exp-lang">
              <h2 class="exp-lang-title" style="color:white;"> REALTIME <br/> UPSALE </h2>
              <h5> Our personalized coupons increase customers' spending propensity as they shop.</h5>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"style="text-align:center;">
            <div class="sc-2-icon"><i class="fa fa-id-card-o"></i></div>
            <div class="exp-lang">
              <h2 class="exp-lang-title" style="color:white;"> DATA <br/> INSIGHTS </h2>
              <h5> We help you better understand your customers with cross-chain data analytics.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about-section">
      <div class="section-title" style="color:white">
        <h1>ABOUT US</h1>
      </div>
      <div class="container">
      <p style="font-family:avenir-ultra;color:white;font-size:20px;padding-bottom:20px;"> A team from the Wharton School, University of Pennsylvania, we’ve identified the key success factors from a business case in Asia, where a self-checkout app doubled the checkout efficiency and increased the revenue of a convenience store by 20%. We've improved this model with more research on the market. Our team has gathered expertise from Wharton and Harvard Business School, tech giants like Facebook and Microsoft, as well as startup incubators like Y Combinator. </p>
      </div>
      <div class="row" style="padding:20px;">
        <div class="col-lg-4 col-md-4 col-sm-8 offset-2">
          <img src="/assets/pwe.png" style="max-width:100%; max-height:84px; text-align:center;"/>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 offset-lg-0 offset-md-0 offset-sm-2" style="text-align:center;">
          <img src="/assets/curf.png" style="max-width:100%; max-height:84px;"/>
        </div>
      </div>
    </div>

<div class="form-section container">
  <div class="section-title">
    <h1>SIGN UP FOR DEMO</h1>
  </div>
  <div class="form-group row">
    <div class="col-6">
      <input class="form-control" type="text" placeholder="Your Full Name" id="biz-person-text-input">
    </div>
    <div class="col-6">
      <input class="form-control" type="text" placeholder="Your Business Name" id="biz-biz-text-input">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-6">
      <input class="form-control" type="text" placeholder="Your Email" id="biz-email-text-input">
    </div>
    <div class="col-6">
      <input class="form-control" type="text" placeholder="Your Phone Number" id="biz-phone-text-input">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-12">
      <input class="form-control" type="text" placeholder="Your Subject" id="biz-subject-text-input">
    </div>
  </div>
  <div class="form-group">
      <textarea class="form-control" id="biz-content-text-input" placeholder="What do you want to tell us?" rows="3"></textarea>
    </div>

  <div class="row" style="text-align:center;">
    <div class="col-12"style="text-align:center;">
      <button type="button" class="btn btn-primary btn-lg" onclick="sendBizFunc()">Send</button>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12 contact-info-block" style="font-size:14px; margin-right:0px;">
        <p><i class="fa fa-envelope"></i>&nbsp;&nbsp;info@u-check.us</p>
        <p><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Vance Hall, 3733 Spruce Street,</br>&nbsp;&nbsp;&nbsp;&nbsp;Philadelphia, PA 19104</p>
      </div>
      <div class="col-lg-5 offset-lg-3 col-sm-12 subscribe-block" style="text-align:right;">
        <h3 style="font-family:avenir-demi">KEEP IN TOUCH</h3>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0 footer-input">
          <input type="text" class="form-control" placeholder="Username">
          <div class="input-group-addon">SUBSCRIBE</div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:20px;">
      <div class="col-lg-5 offset-lg-7 col-sm-12 follow-block" style="text-align:right;">
        <h3 style="font-family:avenir-demi">FOLLOW US</h3>
        <h3>
          <a href="#"><i class="fa fa-facebook-official"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin-square"></i></a>
        </h3>
      </div>
    </div>
    <div class="row" style="margin-top:-15px;margin-left:10px;">
      <p style="font-size:12px;"><i class="fa fa-copyright"></i>&nbsp;&nbsp;2017 UCheck All Right Reserved</p>
    </div>
</div>
</div>

<script src="https://cdn.wilddog.com/sdk/js/2.0.0/wilddog-auth.js"></script>
<script src="https://cdn.wilddog.com/sdk/js/2.0.0/wilddog-sync.js"></script>
<script src="https://cdn.wilddog.com/js/vendor/jquery-1.11.2.min.js"></script>
<script>
  console.log("into script");
  var name = "";
  var email = "";
  var subject = "";
  var content = "";
  var config = {
    syncURL: "https://wd2210417845oxhjls.wilddogio.com" //输入节点 URL
  };
  wilddog.initializeApp(config);
  var ref = wilddog.sync().ref();
  function sendBizFunc(){
    name = document.getElementById('biz-person-text-input').value;
    business = document.getElementById('biz-biz-text-input').value;
    email = document.getElementById('biz-email-text-input').value;
    phone = document.getElementById('biz-phone-text-input').value;
    subject = document.getElementById('biz-subject-text-input').value;
    content = document.getElementById('biz-content-text-input').value;
    console.log("Name: " + name);
    console.log("Email: " + email);
    console.log("subject: " + subject);
    console.log("Content: " + content);
    ref.push({
      "biz-message":{
        "name":name,
        "email":email,
        "business":business,
        "phone":phone,
        "subject":subject,
        "content":content
      }
    });
  }

</script>
