<% provide(:page_title, 'Home') %>
<% provide(:home_active, 'active') %>
    <%= render 'layouts/home_header' %>
<div class="section-1 container" id="how-it-works">
  <div class="row justify-content-center section-title">
    <h1>HOW IT WORKS</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <img src="/assets/iphone-temp.png" width="200" height="400"/>
      <div class="exp-lang">
        <h2> SCAN </h2>
        <h5> Scan what you want as you shop</h5>
      </div>
    </div>
    <div class="col-4">
      <img src="/assets/iphone-temp.png" width="200" height="400"/>
      <div class="exp-lang">
        <h2> SCAN </h2>
        <h5> Scan what you want as you shop</h5>
      </div>
    </div>
    <div class="col-4">
      <img src="/assets/iphone-temp.png" width="200" height="400"/>
      <div class="exp-lang">
        <h2> SCAN </h2>
        <h5> Scan what you want as you shop</h5>
      </div>
    </div>
  </div>
</div>

<div class="section-2" id="benefits">
  <div class="container">
    <div class="row justify-content-center section-title" id="sc-2-title">
      <h1>BENEFITS</h1>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="sc-2-icon"><i class="fa fa-github"></i></div>
        <div class="exp-lang">
          <h2> SCAN </h2>
          <h5> Scan what you want as you shop</h5>
        </div>
      </div>
      <div class="col-4">
        <div class="sc-2-icon"><i class="fa fa-github"></i></div>
        <div class="exp-lang">
          <h2> SCAN </h2>
          <h5> Scan what you want as you shop</h5>
        </div>
      </div>
      <div class="col-4">
        <div class="sc-2-icon"><i class="fa fa-github"></i></div>
        <div class="exp-lang">
          <h2> SCAN </h2>
          <h5> Scan what you want as you shop</h5>
        </div>
      </div>
    </div>
  </div>
</div>
