@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html{
  height: 100%;
}
body{
max-width: 1500px;
height: 100%;
margin: 0 auto !important;
float: none !important;
}

.header-area{
  height:400px;
  overflow: hidden;
  position: relative;
  background-color: black;
  .navbar{
    z-index: 2;
    position: relative;
    background:none;
    padding-left: 100px;
    padding-top: 40px;
    padding-right: 60px;
    .main-navbar-menu{
      .nav-link{
        color:white;
        margin-top: 20px;
        padding-right: 40px;
        font-size: 20px;
        font-weight: 400;
      }
      .nav-link.active{
        color: crimson;
        font-weight: 800;
      }
    }
    filter: grayscale(0);
  }
  #header-area-image{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
  }
  .header-area-title{
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    margin-top: 6%;
    .title-center-content{
      max-width: 50%;
      margin: auto;
    }
  }
}

#admin-navbar{
  background-color: black;
  .nav-link{
    color: white;
  }
  .nav-link.active{
    color: crimson;
    font-weight: 800;
  }
}

.post-each{
  padding:10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #383838;
}

#form-desc-area{
  height: 100px;
}

.pagination-top{
  text-align: center;
  width: 100%;
}

#home-header{
  height:100%;
  .header-area-title{
    text-align: left;
    left: 100px;
    margin-top: 20%;
    .title-center-content{
      max-width: 100%;
      margin: auto;
      h1{
        font-size: 50px;
      }
      .band{
        height: 10px;
        width: 80%;
        background-color: crimson;
        margin-bottom: 10px;
      }
      .col-2{
        text-align: left;
        padding: 0px;
      }
      .header-action-btn{
        height: 50px;
        width: 120px;
        background-color: crimson;
        margin-left: 15px;
      }
    }
  }
}

.section-title{
  padding: 40px;
  color:crimson;
  letter-spacing: 5px;
}

.section-1{
  .col-4{
    text-align: center;
  }
  .exp-lang{
    margin: 10px;
  }
  margin-bottom: 30px;
}

.section-2{
  background-color: crimson;
  .col-4{
    text-align: center;
  }
  margin-bottom: 60px;
  color:white;
  .exp-lang{
    margin:10px;
    margin-bottom:30px;
  }
}

#sc-2-title{
  color: white;
}

.sc-2-icon{
  font-size: 100px;
}

#admin-a-title{
  color: white;
}
