@import "bootstrap";

body{
max-width: 1500px;
margin: 0 auto !important;
float: none !important;
}

.header-area{
  height:400px;
  overflow: hidden;
  position: relative;
  background-color: black;
  .navbar{
    z-index: 2;
    position: relative;
    background:none;
    padding: 2%;
    padding-left: 50px;
    .main-navbar-menu{
      .nav-link{
        color:white;
        margin-top: 20px;
        padding-right: 40px;
        font-size: 20px;
        font-weight: 400;
      }
      .nav-link.active{
        color: crimson;
        font-weight: 800;
      }
    }
    filter: grayscale(0);
  }
  #header-area-image{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
  }
  .header-area-title{
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    margin-top: 6%;
    .title-center-content{
      max-width: 50%;
      margin: auto;
    }
  }
}

#admin-navbar{
  background-color: black;
  .nav-link{
    color: white;
  }
  .nav-link.active{
    color: crimson;
    font-weight: 800;
  }
}

.post-each{
  padding:10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #383838;
}

#form-desc-area{
  height: 100px;
}
