@font-face {
    font-family: 'avenir-bold';
    src: url('/assets/AvenirNext-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'avenir-demi';
    src: url('/assets/AvenirNext-DemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'avenir-heavy';
    src: url('/assets/AvenirNext-Heavy.ttf') format('truetype');
}

@font-face {
    font-family: 'avenir-medium';
    src: url('/assets/AvenirNext-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'avenir-regular';
    src: url('/assets/AvenirNext-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'avenir-ultra';
    src: url('/assets/AvenirNext-UltraLight.ttf') format('truetype');
}
